.dialog-add-user-headline{
    font-size: 32px;
    font-weight: 500;
}

.dialog-add-user-frame{
    height: 700px;
    display: block;
    position: relative;
    mat-progress-bar{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: orange;
}


.name-frame{
    padding-top: 16px;
}

.dialog-add-user-button-frame{
    margin-left: 24px;
    button{
        background: rgba(0, 0, 0, 0.2);
        margin-right: 16px;
    }
}