<div class="dialog-add-user-frame">
    <h1 mat-dialog-title class="dialog-add-user-headline">Add user</h1>
    <div mat-dialog-content>
        <div class="name-frame">
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="user.firstName" matInput placeholder="First name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="user.lastName" matInput placeholder="Last name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Birth Date</mat-label>
                <input [(ngModel)]="birthDate" matInput placeholder="Birth date" [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <!-- <mat-hint>Please enter a date</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Street + House-No.</mat-label>
                <input [(ngModel)]="user.street" matInput placeholder="Street + House-No.">
                <!-- <mat-hint>Please enter a street and house number</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="mr-16">
                <mat-label>Zip code</mat-label>
                <input [(ngModel)]="user.zipCode" matInput placeholder="Zip code">
                <!-- <mat-hint>Please enter a zip-code</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [(ngModel)]="user.city" matInput placeholder="City">
                <!-- <mat-hint>Please enter a city</mat-hint> -->
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-action class="dialog-add-user-button-frame">
        <button mat-button>Cancel</button>
        <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
</div>
