<div class="dialog-edit-history">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title class="dialog-add-user-headline">Edit History</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Birth date" [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Remarks</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.remarks" matInput placeholder="Remarks">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>History</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.history" matInput placeholder="History">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-action class="dialog-edit-history ml-16">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
</div>

