<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th class="email">E-Mail</th>
                <th class="city">City</th>
            </tr>
            <tr *ngFor="let user of allUsers" [routerLink]="['/user/']+ user.id">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td class="email">{{ user.email }}</td>
                <td class="city">{{ user.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add customer"
    [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>