.dashboard-container{
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(152, 131, 68);
    img{
        height: 200px;
    }

    h1{
        color: rgb(255, 133, 27);
        font-weight: 600;
        font-size: 58px;
        margin-bottom: 32px;
    }

    p{
        color: rgb(255, 133, 27);
        margin-top: 32px;
        font-size: 23px;
    }
}

