.dashboard-container{
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(152, 131, 68);
    img{
        height: 200px;
    }

    h1{
        color: rgb(255, 133, 27);
        font-weight: 600;
        font-size: 58px;
        margin-bottom: 32px;
    }

    p{
        color: rgb(255, 133, 27);
        margin-top: 32px;
        font-size: 23px;
    }
}

@media(max-width: 400px){

    .dashboard-container{
        img{
            height: 100px;
        }
    
        h1{
            font-size: 32px;
        }
    
        p{
            
            font-size: 14px;
        }
    }

}

@media(max-width: 350px){

    .dashboard-container{
        img{
            height: 50px;
        }
    
        h1{
            font-size: 20px;
            margin-left: 8px;
        }
    
        p{
            margin-left: 8px;
            margin-right: 8px;
            font-size: 10px;
        }
    }

}